@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f7f7f7;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.responsive-image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .responsive-image {
    flex-direction: column-reverse;
    padding: 0;
  }
}
.main-content {
  margin-top: 110px; /* Altura del encabezado */
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 110px; /* Ajusta si es necesario para pantallas pequeñas */
  }
}

.social-icon {
  width: 24px; /* Tamaño predeterminado */
  height: 24px;
}

@media (max-width: 640px) {
  .social-icon {
    width: 49px; /* Tamaño mínimo en dispositivos pequeños */
    height: 49px;
  }
}